{# Head for source, JSON, and listing pages (legacy styling). #}
<!DOCTYPE html>
<head>
<link rel='icon' href='vendor/png/CmA-Square.png'>
<title>{{ path }}</title>
<link href="Doc/G/Z/CSS/Doc.css" rel="stylesheet" />
<link href="png/custom.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
